    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Founder and Firearms Instructor<br/>Sylvia Bergstedt</h2>
              <h3>[ Retired Law Enforcement Officer ]</h3>
              <p>I have over 28 years of military and Federal Law Enforcement training combined. In 2011 I retired as a LtCol in the Air Force Reserves working as a Special Agent with the US Air Force Office of Special Investigation (AFOSI). In addition, I recently retired from federal service as a Special Agent. I have been trained in various firearms and defensive tactics and am a small arms Marksmanship expert.</p>
​
              <p>Certified as a Federal Law Enforcement Training Center (FLETC) Active Shooter Instructor and National Rifle Association Instructor. Certified in Ultimate Training Munitions instruction as well.</p>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
                <img class="img-responsive" src="img/sylvia.jpg" alt="">
            </div>
            <br/><br/>
            </div>
        </div>
    </section>